/vendor/
/node_modules/
#/public/build/
/public/hot
/storage/*.key
.env
.env.*
!.env.example

.phpunit.result.cache

/.fleet
/.idea
/.vscode

.DS_Store
Thumbs.db
/storage/logs/*
!/storage/logs/.gitignore